<template name='studentDashboard'>

    <style>
        li.list-group-item {
            /*background: #e2f9f4;*/
        }
        .fh-column{
            border-bottom: 1px solid #e7eaec !important;
            border-left: 1px solid #e7eaec !important;
            width: 320px;
        }
        .element-detail-box {
            border-right: 1px solid #e7eaec !important;
            border-bottom: 1px solid #e7eaec !important;
        }
    </style>

    <div class="row border-bottom white-bg page-heading animated fadeInDown text-center">
        <h2><span class="text-navy">Practice</span></h2>
        <p style="margin-bottom: 0">Join groups, do exercises, review your performance</p>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <style>
            tr:hover #leave-btn {
                display: inline;
            }
            tr #leave-btn {
                display: none;
            }
        </style>

        <!--My Groups-->
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="ibox-content">
                    <div class="text-center"><h3>My Groups</h3></div>
                    <div style="height: 300px; overflow-y: scroll; margin-bottom: 20px">
                    {{#if pendingAndEnrolledGroups.count}}
                        <div class="project-list">
                            <table class="table table-hover">
                                <tbody>
                                {{#each pendingGroups}}
                                    <tr>
                                        <td>
                                            <span style="font-weight: 600">{{name}}</span> <em class="small">Pending</em>
                                            <br/>
                                            <small>Created by {{getName createdBy}}</small>
                                        </td>
                                        <td style="text-align: right">
                                            <a id="leave-btn" class="btn btn-warning btn-xs"><i class="fa fa-times"></i> Cancel </a>
                                        </td>
                                    </tr>
                                {{/each}}
                                {{#each enrolledGroups}}
                                    <tr>
                                        <td>
                                            <span style="font-weight: 600">{{name}}</span>
                                            {{#if isPrivate groupType}} <em class="small">Private</em> {{/if}}
                                            <br/>
                                            <small>By {{getName createdBy}}</small>
                                        </td>
                                        <td style="text-align: right">
                                            <a id="leave-btn" class="btn btn-warning btn-xs"><i class="fa fa-sign-out"></i> Leave </a>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    {{else}}
                        <div class="text-center" style="margin-top: 20px">
                            <i class="fa fa-list" style="font-size: 3em; color:#888888"></i>
                            <p>You have not enrolled in any group!</p>
                        </div>
                    {{/if}}
                    </div>

                    <div id="join-groups-btn" class="btn btn-block btn-primary" data-toggle="modal" data-target="#join-groups-modal">Join Groups</div>

                </div>
            </div>


            <!--Modal for joining groups-->
            <div class="modal inmodal fade" id="join-groups-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated fadeIn">
                        <div class="modal-header" style="padding: 0">
                            <h2>Available Groups</h2>
                        </div>
                        <div class="modal-body">
                            {{#if availableGroups.count}}
                                <div class="project-list">
                                    <table class="table table-hover">
                                        <tbody>
                                        {{#each availableGroups}}
                                            <tr>
                                                <td>
                                                    <span style="font-weight: 600">{{name}}</span>
                                                    <br/>
                                                    <small>By {{getName createdBy}}</small>
                                                </td>
                                                <td>
                                                    {{#if canRequest groupType}} <i class="fa fa-lg fa-lock"></i> {{/if}}
                                                </td>
                                                <td style="text-align: right">
                                                    <a id="join-btn" class="btn btn-primary btn-sm"><i class="fa fa-sign-in"></i> Join </a>
                                                </td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            {{else}}
                                <div class="text-center" style="margin-top: 20px">
                                    <i class="fa fa-list" style="font-size: 5em; color:#888888"></i>
                                    <h4>There are no groups available for you now.</h4>
                                </div>
                            {{/if}}
                        </div>
                        <div class="modal-footer" style="padding: 10px">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



            <!--Exercise Inbox-->
            <div class="col-md-9 col-sm-12">
                <div class="ibox-content" style="padding: 0">

                    <!--Search Box-->
                    <div class="ibox-content" style="padding: 10px 20px 0px 20px; border: 1px solid #e7eaec">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="groupFilter">Group</label>
                                    <select id="groupFilter" style="width: 100%">
                                        <option></option>
                                        {{#each groupsFilter}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="showOptions">Show</label>
                                    <select id="showOptions" style="width: 100%">
                                        <option value="INCOMPLETE" selected>Incomplete</option>
                                        <option value="COMPLETE">Complete</option>
                                        <option value="ALL">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Search Box-->

                    <style>
                        .progress {
                            height: 10px;
                            background-color: #bbbbbb;
                        }
                        .progress-mini .progress-bar {
                            height: 10px;
                        }
                    </style>
                    <div class="fh-column" style="height: 600px">
                        <div class="full-height-scroll">
                            <ul class="list-group elements-list" style="margin-bottom: 0">
                                {{#each exercises}}
                                    {{#if showExercise completed}}
                                        <li class="list-group-item" data-toggle="tab" href="#{{_id}}" style="cursor: pointer">
                                            <strong>{{description}}</strong>
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <div class="progress progress-mini">
                                                        <div style="width: {{completedPercentage}}%;" class="progress-bar"></div>
                                                        <div style="width: {{attemptedPercentage}}%;" class="progress-bar progress-bar-warning"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="padding: 0">
                                                    {{numCompleted}}/{{questions.length}}
                                                </div>
                                            </div>

                                            <div class="small m-t-xs">
                                                <p class="m-b-none text-muted">
                                                    <i class="fa fa-clock-o"></i> {{moCalendarDetailed updatedAt}}
                                                </p>
                                            </div>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>

                        </div>
                    </div>

                    <div class="full-height" style="height: 600px">
                        <div class="full-height-scroll white-bg border-left">

                            <div class="element-detail-box" style="height: 100%">

                                <div class="tab-content">
                                {{#each exercises}}
                                    <div id="{{_id}}" class="tab-pane">

                                        <h4 class="m-b-md" style="display: inline"><strong>{{groupName}}</strong> > {{description}}</h4>

                                        <table class="table table-hover margin bottom">
                                            <thead>
                                            <tr>
                                                <th class="col-md-5">Question</th>
                                                <th class="col-md-3">Last Attempt</th>
                                                <th class="col-md-1">Status</th>
                                                <th class="col-md-2"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#each questions}}
                                                <tr>
                                                    <td>{{title}}</td>
                                                    <td>
                                                        {{#if lastAttempted }}
                                                            {{moFromNow lastAttempted}}
                                                        {{else}}
                                                            -
                                                        {{/if}}
                                                    </td>
                                                    <td class="text-center">
                                                        {{#if completed}}
                                                            <i class="fa fa-check text-navy"></i>
                                                        {{else}}
                                                            <i class="fa fa-times text-danger"></i>
                                                        {{/if}}
                                                    </td>
                                                    <td class="text-center">
                                                        {{#if lastAttempted}}
                                                            <a class="goto-question-btn btn btn-primary btn-xs pull-right" style="width: 50px"> View</a>
                                                        {{else}}
                                                            <a class="goto-question-btn btn btn-primary btn-xs pull-right" style="width: 50px"> Start </a>
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>

                                        <div class="text-center">
                                            <a class="boxplot-btn btn btn-primary btn-sm btn-outline" style="width: 200px" data-toggle="modal" data-target="#boxplot-modal">View Performance</a>
                                        </div>


                                    </div>
                                {{/each}}
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>

    <!--Boxplot Modal-->
    <div class="modal inmodal fade" id="boxplot-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 80%">
            <div class="modal-content animated fadeIn">
                <div class="modal-body" style="padding: 20px 0 0 0; background-color: white">
                    <div id="boxplot" class="text-center" style="min-height: 600px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</template>