<template name="landing">

    <div class="animated fadeInDown">

        <section class="container features">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Welcome to Javaly<br/>
                        <small class="navy" style="position: relative; top: -0.3em"> Programming practice on Steroids
                        </small>
                    </h1>
                    <p>We are currently LIVE</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center wow fadeInLeft">
                    <div>
                        <i class="fa fa-code features-icon"></i>
                        <h2>Become a Coding God</h2>
                        <p>Need some extra programming practice to take your skills to the next level? Or revise what
                            you have learnt in class? Join a <strong>group</strong> and start doing exercises now!</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-users features-icon"></i>
                        <h2>User Analytics</h2>
                        <p>See where you stand against the rest of your cohort! Javaly tells you how well you are
                            performing compared to your peers, so you can continuously challenge and improve
                            yourself.</p>
                    </div>
                </div>
                <div class="col-md-6 text-center wow zoomIn">
                    <img src="/javalyicon.jpg" width="70%" class="img-circle circle-border m-b-md"
                         style="border-color: #2f4050; margin-top: 50px;">
                </div>
                <div class="col-md-3 text-center wow fadeInRight">
                    <div>
                        <i class="fa fa-bar-chart features-icon"></i>
                        <h2>Performance Tracking</h2>
                        <p>Instructors get detailed reports on how their class is performing, in real time! Javaly helps
                            them to identify students who are lagging behind, and take remedial action fast!</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-file-text-o features-icon"></i>
                        <h2>Question Bank</h2>
                        <p>Javaly comes with its own API to run tests against the code students submit, making it
                            extremely easy for users to author and share questions.</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="timeline gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Changelog</h1>
                        <p>Here's what we have been up to!</p>
                    </div>
                </div>
                <div class="row features-block">

                    <div class="col-lg-12">

                        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-bar-chart"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Consolidated Student Dashboard</h2>
                                    <p><em>Join Groups</em> and <em>My Assignments</em> have now been consolidated into a single page <em>Practice</em>, with a familiar "email inbox" interface. Now, you can also filter the exercises by group and completion status!</p>
                                    <span class="vertical-date">Jan 26<br> <small>2016</small></span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-bar-chart"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Box and Whiskers</h2>
                                    <p>Get quick summary statistics about solve time for each question in the exercise, and also, identify weaker students that may require more attention.</p>
                                    <img src="changelog/boxplot.png" style="width:100%">
                                    <span class="vertical-date">Jan 22<br> <small>2016</small></span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-eye"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Show/Hide Exercises</h2>
                                    <p>Have greater control when exercises are released to students in a group. Now, instructors can prepare questions before class and get students to work on them only during class.</p>
                                    <span class="vertical-date">Jan 20<br> <small>2016</small></span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-history"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>History Playback</h2>
                                    <p>Instructors can now step through all the attempts that the student submitted, which is pretty useful for figuring out their thought process!</p>
                                    <img src="changelog/history_playback.png" style="width:100%">
                                    <span class="vertical-date">Jan 20<br> <small>2016</small></span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-dashboard"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Enhanced Dashboard</h2>
                                    <p>Check out the new exercise dashboard with a more concise overview of the class and the ability to sort by completion status. Also, students who are active on the codepad will show a flashing indicator!</p>
                                    <span class="vertical-date">Jan 6<br> <small>2016</small></span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-search"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Search Questions</h2>
                                    <p>Instructors may search through our question bank, filtering by Title, Author, and Tags.</p>
                                    <img src="changelog/search_questions.png" style="width:100%">
                                    <span class="vertical-date">Jan 4<br> <small>2016</small></span>
                                </div>
                            </div>


                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-bars"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Question Authoring</h2>
                                    <p>We have enhanced support for authoring questions on Javaly:</p>
                                    <ul>
                                        <li>Starter templates for writing your tests with our API</li>
                                        <li>Support for hidden testcases</li>
                                        <li>Upload Jar files or classes, allowing authors to use their own custom classes</li>
                                        <li>Upload Javadocs for hosting with Javaly</li>
                                    </ul>
                                    <span class="vertical-date">Dec 26<br> <small>2015</small></span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </section>

    </div>

</template>