<template name="myQuestions">

    <div class="ibox">
        <div class="ibox-title">
            <h5>My Questions</h5>
            <div class="ibox-tools">
                <a href="{{pathFor 'submitQuestion'}}" class="btn btn-primary btn-sm">
                    <i class="fa fa-upload"></i> Submit New Question
                </a>
            </div>
        </div>
        <div class="ibox-content profile-content">
            {{#if this}}
                <table class="table table-hover no-margins">
                    <tbody>
                    {{#each this}}
                        <tr>
                            <td><a class="goto-question-btn">{{title}}</a></td>
                            <td><i class="fa fa-clock-o"></i> {{moFromNow updatedAt}}</td>
                            <td>{{#if verified}} <span class="label label-primary">Verified</span> {{else}} <span class="label label-warning">Unverified</span> {{/if}}</td>
                            <td><a href="{{pathFor 'updateQuestion'}}"><i class="fa fa-pencil"></i> Edit</a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

            {{else}}
                <div class="ibox-content">
                    <div class="text-center" style="margin-top: 20px">
                        <i class="fa fa-list" style="font-size: 5em; color:#888888"></i>
                        <h4>You have not authored any questions</h4>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

</template>