<template name="submitQuestion">

    <style>
        .bootstrap-tagsinput {
            background-color: #fff;
            border: 1px solid #e5e6e7;
            box-shadow: none;
            display: inline-block;
            padding: 4px 6px;
            margin-bottom: 0px;
            color: #555;
            vertical-align: middle;
            border-radius: 1px;
            max-width: 100%;
            line-height: 22px;
            cursor: text;
        }

        /*override summernote code view*/
        .note-codable, .note-editable, .note-editor {
            background-color: #fff !important;
            color: #1f1f1f !important;
            outline: none !important;
        }
    </style>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Submit a new question</h5>
                <div class="ibox-tools">
                    <button id="submit-btn" class="btn btn-primary btn-sm">
                        <i class="fa fa-upload"></i>
                        <span class="bold"> Submit </span>
                    </button>
                </div>
            </div>
            <div class="ibox-content profile-content">

                <div class="tabs-container">

                    {{#autoForm collection="Questions" id="insertQuestionForm" type="insert"}}
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> Content</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"> Options</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3"> Tests</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">

                                <fieldset class="form-horizontal">
                                    <div class="form-group {{#if afFieldIsInvalid name='title'}}has-error{{/if}}">
                                        <label class="col-sm-2 control-label">Title:</label>
                                        <div class="col-sm-9">
                                            {{> afFieldInput name='title'}}
                                            {{#if afFieldIsInvalid name='title'}}
                                                <span class="help-block">{{{afFieldMessage name='title'}}}</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Tags:</label>
                                        <div class="col-sm-9">
                                            {{> afFieldInput name="tags" type="tags" multiple=true}}
                                        </div>
                                    </div>
                                    <div class="form-group {{#if afFieldIsInvalid name='content'}}has-error{{/if}}">
                                        <label class="col-sm-2 control-label">Content:</label>
                                        <div class="col-sm-9">
                                            {{> afFieldInput name='content' type='summernote'}}
                                            {{#if afFieldIsInvalid name='content'}}
                                                <span class="help-block">{{{afFieldMessage name='content'}}}</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>

                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">

                            </div>
                        </div>

                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">

                                <fieldset class="form-horizontal">
                                    <div class="form-group {{#if afFieldIsInvalid name='classname'}}has-error{{/if}}">
                                        <label class="col-sm-2 control-label">Class Name:</label>
                                        <div class="col-sm-9">
                                            {{> afFieldInput name='classname'}}
                                            {{#if afFieldIsInvalid name='classname'}}
                                                <span class="help-block">{{{afFieldMessage name='classname'}}}</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Method Name: </label>
                                        <div class="col-sm-9"><input name="methodName" type="text" class="form-control"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Output Type:</label>
                                        <div class="col-sm-9">
                                            <select name="questionType" class="form-control" >
                                                <option value="RETURN">Return Value</option>
                                                <option value="SYSTEM_OUT">System Out</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Static: </label>
                                        <div class="col-sm-9">
                                            <select name="static" class="form-control" >
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Test Cases: </label>
                                        <div class="col-sm-9">
                                            <div class="table-responsive">
                                                <table class="table table-stripped table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>Input</th>
                                                        <th>Output</th>
                                                        <th>Type</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>

                                                    <tbody id="test-container">
                                                    <tr>
                                                        <td>
                                                            <input name="input" type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input name="output" type="text" class="form-control">
                                                        </td>
                                                        <td>
                                                            <select name="type" class="form-control" >
                                                                <option selected>Show</option>
                                                                <option>Hidden</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <button class="remove-btn btn btn-white"><i class="fa fa-trash"></i> </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="text-center">
                                                <button id="addTest" class="btn btn-primary btn-sm">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>

                    </div>
                    {{/autoForm}}


                </div>
            </div>
        </div>
    </div>


</template>