<template name="exerciseListing">

    <div class="ibox">
        <div class="ibox-title">
            <h5>Exercise | {{description}}</h5>
            {{>iboxTools}}
        </div>
        <div class="ibox-content profile-content">

            <div>
                <span>Overall Progress:</span>
                <div class="stat-percent">{{completedPercentage}}%</div>
                <div class="progress progress-striped active">
                    <div style="width: {{completedPercentage}}%" class="progress-bar progress-bar-default"></div>
                    <div style="width: {{attemptedButNotCompletedPercentage}}%" class="progress-bar progress-bar-warning"></div>
                </div>
            </div>
            <div><small>Click on questions to toggle detailed view </small><i class="fa fa-hand-o-down"></i></div>
            <!--<div class="row m-t-sm">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="font-bold">QUESTIONS</div>-->
                    <!--{{questions.length}}-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="font-bold">STUDENTS</div>-->
                    <!--3-->
                <!--</div>-->
                <!--<div class="col-sm-4 text-right">-->
                    <!--<div class="font-bold">ALERTS</div>-->
                    <!--0 <i class="fa fa-level-up text-navy"></i>-->
                <!--</div>-->
            <!--</div>-->


            <br>

            <div class="panel-group">
                <!--Grid View-->
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#gridview">
                        <h4 class="panel-title">
                            <a>Summary View</a>
                        </h4>
                    </div>
                    <div id="gridview" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-bordered table-hover datatable">
                                <thead>
                                <tr>
                                    <th></th>
                                    {{#each participantNames}}
                                        <th>{{this}}</th>
                                    {{/each}}
                                </tr>
                                </thead>
                                <tbody>
                                    {{#each questionSummary}}
                                    <tr>
                                        <td>{{title}}</td>
                                        {{#each participants}}
                                        <td>
                                            {{#if completed}}
                                                <i class="fa fa-check text-navy"></i>
                                            {{else}}
                                                <i class="fa fa-times text-danger"></i>
                                            {{/if}}
                                        </td>
                                        {{/each}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Question list-->
                {{#each verifiedQuestions}}
                    {{> questionStats }}
                {{/each}}
            </div>
        </div>
    </div>

</template>