<template name="exerciseListing">

    <div class="ibox">
        <div class="ibox-title">
            <h5>Exercise | {{description}}</h5>
            {{>iboxTools}}
        </div>
        <div class="ibox-content profile-content">

            <div>
                <span>Overall Progress:</span>
                <div class="stat-percent">{{completedPercentage}}%</div>
                <div class="progress progress-striped active">
                    <div style="width: {{completedPercentage}}%" class="progress-bar progress-bar-default"></div>
                    <div style="width: {{attemptedButNotCompletedPercentage}}%" class="progress-bar progress-bar-warning"></div>
                </div>
            </div>
            <div><small>Click questions to show progress </small><i class="fa fa-hand-o-down"></i></div>
            <!--<div class="row m-t-sm">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="font-bold">QUESTIONS</div>-->
                    <!--{{questions.length}}-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="font-bold">STUDENTS</div>-->
                    <!--3-->
                <!--</div>-->
                <!--<div class="col-sm-4 text-right">-->
                    <!--<div class="font-bold">ALERTS</div>-->
                    <!--0 <i class="fa fa-level-up text-navy"></i>-->
                <!--</div>-->
            <!--</div>-->


            <br>
            <!--Question list-->
            <div class="panel-group">
            {{#each verifiedQuestions}}
                {{> questionStats }}
            {{/each}}
            </div>
        </div>
    </div>

</template>