<template name="exerciseListing">

    <div class="ibox">
        <div class="ibox-title">
            <h5>Exercise | {{description}}</h5>
            {{>iboxTools}}
        </div>
        <div class="ibox-content profile-content">

            <div>
                <span>Overall Progress:</span>
                <div class="stat-percent">{{completedPercentage}}%</div>
                <div class="progress progress-striped active">
                    <div style="width: {{completedPercentage}}%" class="progress-bar progress-bar-default"></div>
                    <div style="width: {{attemptedButNotCompletedPercentage}}%" class="progress-bar progress-bar-warning"></div>
                </div>
            </div>
            <div><small>Click on questions to toggle detailed view </small><i class="fa fa-hand-o-down"></i></div>
            <!--<div class="row m-t-sm">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="font-bold">QUESTIONS</div>-->
                    <!--{{questions.length}}-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="font-bold">STUDENTS</div>-->
                    <!--3-->
                <!--</div>-->
                <!--<div class="col-sm-4 text-right">-->
                    <!--<div class="font-bold">ALERTS</div>-->
                    <!--0 <i class="fa fa-level-up text-navy"></i>-->
                <!--</div>-->
            <!--</div>-->


            <br>

            <style>
                #summaryView>.panel-body {
                    overflow-y: scroll
                }

                #summaryView>.panel-body::-webkit-scrollbar {
                    /*disable the scrollbar*/
                    width: 0 !important
                }
            </style>

            <div class="panel-group">
                <!--Grid View-->
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#summaryView">
                        <h4 class="panel-title">
                            <a>Summary View</a>
                        </h4>
                    </div>
                    <div id="summaryView" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <small><a id="toggleAxes-btn">Toggle Axes <i class="fa fa-exchange"></i></a></small>
                                    </th>
                                    {{#if questionsAsHeaders}}
                                        {{#each questionTitles}}
                                            <th data-toggle="tooltip" data-placement="top" title="{{title}}">{{index}}</th>
                                        {{/each}}
                                    {{else}}
                                        {{#each participantNames}}
                                            <th>{{this}}</th>
                                        {{/each}}
                                    {{/if}}
                                </tr>
                                </thead>
                                <tbody>
                                    {{#if questionsAsHeaders}}
                                        {{#each questionSummaryQuestionHeaders}}
                                        <tr>
                                            <td>{{name}}</td>
                                            {{#each questions}}
                                            <td>
                                                {{#if completed}}
                                                    <i class="fa fa-check text-navy"></i>
                                                {{else}}
                                                    {{#if attempted}}
                                                        <i class="fa fa-refresh text-warning"></i>
                                                    {{else}}
                                                        <i class="fa fa-times text-danger"></i>
                                                    {{/if}}
                                                {{/if}}
                                            </td>
                                            {{/each}}
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        {{#each questionSummaryStudentHeaders}}
                                        <tr>
                                            <td>{{title}}</td>
                                            {{#each participants}}
                                                <td>
                                                    {{#if completed}}
                                                        <i class="fa fa-check text-navy"></i>
                                                    {{else}}
                                                        {{#if attempted}}
                                                            <i class="fa fa-refresh text-warning"></i>
                                                        {{else}}
                                                            <i class="fa fa-times text-danger"></i>
                                                        {{/if}}
                                                    {{/if}}
                                                </td>
                                            {{/each}}
                                        </tr>
                                        {{/each}}
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Question list-->
                {{#each questions}}
                    {{> questionStats }}
                {{/each}}
            </div>
        </div>
    </div>

</template>