<template name="groupView">

    <style>
        /*indicate that panel headings are clickable*/
        .panel-heading:hover {
            cursor: pointer;
        }
    </style>

    <div class="row wrapper wrapper-content border-bottom white-bg page-heading">
        <div class="col-md-12">
            <div class="pull-left m-r-md m-t-sm">
                <i class="fa fa-bar-chart text-navy mid-icon"></i>
            </div>
            <h2>{{name}}</h2>
            <span>Real-Time Monitoring Dashboard</span>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">
        {{#each exercises}}
            {{> exerciseListing }}
        {{/each}}
    </div>

    <div class="modal inmodal fade" id="codepad-modal" tabindex="-1" role="dialog" aria-hidden="true">
        {{> codepadModal selectedAttempt}}
    </div>

</template>