<template name="questionStats">

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#{{question._id}}">
            <h4 class="panel-title">
                <a >{{question.title}}</a>
                <div class="progress-mini progress-striped active">
                    <div style="width: {{completedPercentage}}%" class="progress-bar progress-bar-default"></div>
                    <div style="width: {{attemptedButNotCompletedPercentage}}%" class="progress-bar progress-bar-warning"></div>
                </div>
            </h4>
        </div>
        <div id="{{question._id}}" class="panel-collapse collapse">
            <div class="panel-body">

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3"><a data-field="name" class="toggle-sort">Name</a></th>
                            <th class="col-md-2"><a data-field="attempts" class="toggle-sort">Attempts</a></th>
                            <th class="col-md-2"><a data-field="timeTaken" class="toggle-sort">Time Taken</a></th>
                            <th class="col-md-2"><a data-field="completed" class="toggle-sort">Completed</a></th>
                            <th class="col-md-3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each students}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{attempts}}</td>
                                <td>{{humanizeSeconds timeTaken}}</td>
                                <td>{{#if completed}} <span class="label label-primary">Completed</span> {{else}} <span class="label">Incomplete</span>{{/if}}</td>
                                <td>
                                    {{#if attemptId}}
                                        <!--codepad modal is in groupView.html-->
                                        <a class="view-code-btn btn btn-primary btn-xs" data-toggle="modal" data-target="#codepad-modal">View <i class="fa fa-lg fa-code"></i></a>
                                    {{else}}
                                        <a href="" class="btn btn-warning btn-xs">Nudge <i class="fa fa-hand-o-right"></i></a>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</template>