<template name="questionStats">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent=".accordion" href="#{{question._id}}">{{question.title}}</a>
                <div class="progress-mini progress-striped active">
                    <div style="width: {{completedPercentage}}%" class="progress-bar progress-bar-default"></div>
                    <div style="width: {{attemptedButNotCompletedPercentage}}%" class="progress-bar progress-bar-warning"></div>
                </div>
            </h4>
        </div>
        <div id="{{question._id}}" class="panel-collapse collapse">
            <div class="panel-body">

                <table class="table table-bordered table-hover datatable">
                    <thead>
                        <tr>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-2">Attempts</th>
                            <th class="col-md-2">Time Taken</th>
                            <th class="col-md-2">Hidden Time in seconds</th>
                            <th class="col-md-2">Completed</th>
                            <th class="col-md-3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each students}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{attempts}}</td>
                                <td>{{humanizeSeconds timeTaken}}</td>
                                <td>{{timeTaken}}</td>
                                <td>{{#if completed}} <span class="label label-primary">Completed</span> {{else}} <span class="label">Incomplete</span>{{/if}}</td>
                                <td>
                                    {{#if attemptId}}
                                        <!--Somehow links to codepad will cause the editor not to load, but calling Router.go does-->
                                        <!--<a href="{{pathFor 'codepad' id=attemptId}}" class="btn btn-primary btn-xs">View <i class="fa fa-lg fa-code"></i></a>-->
                                        <a class="goto-question-btn btn btn-primary btn-xs">View <i class="fa fa-lg fa-code"></i></a>
                                    {{else}}
                                        <a href="" class="btn btn-warning btn-xs">Nudge <i class="fa fa-hand-o-right"></i></a>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</template>