<template name="questionSearch">

    <div class="ibox">
        <div class="ibox-title">
            <h5>Question Bank</h5>
            {{#if showSubmitButton }}
            <div class="ibox-tools">
                <a href="{{pathFor route='submitQuestion'}}" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i> Submit new question</a>
            </div>
            {{/if}}
        </div>
        <!--Search Box-->
        <div class="ibox-content" style="padding: 10px 20px 0px 20px">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="title">Title</label>
                        <input type="text" id="title" name="title" class="form-control" value="{{title}}">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="author">Author</label>
                        <select id="author" style="width: 100%">
                            <option></option>
                            {{#each authors}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="control-label" for="tags">Tags</label>
                        <select id="tags" style="width: 100%" multiple>
                            {{#each searchTags}}
                                <option value="{{_id}}">{{label}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button id="search-btn" style="margin-top: 23px" class="btn btn-success btn-block btn-outline"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <!--End Search Box-->

        <div class="ibox-content" style="min-height: 400px">

            {{#if searching}}
                {{> loading }}
            {{else}}
                {{> Template.dynamic template=this.template data=questions}}
            {{/if}}
        </div>
    </div>

</template>