<template name="codepad">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">

                <!--attempt.questionId comes from the data context provided by iron router-->
                {{> questionCard questionId }}

            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                {{> editor _id }}
            </div>

            <div class="{{#if questionsToSuggest.length}} col-lg-8 {{else}} col-lg-12 {{/if}}">
                {{#if compileResult}}
                    {{> resultDisplay compileResult }}
                {{/if}}
                {{#if compileError}}
                    {{> errorDisplay compileError }}
                {{/if}}
                {{#unless compileResultOrError}}
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="text-center" style="margin: 50px 0">
                                <i class="fa fa-code" style="font-size: 5em; color:#888888"></i>
                                <h3>Run your code and see results here</h3>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            </div>

            {{#if questionsToSuggest.length}}
            <div class="col-lg-4">
                {{> suggestedQuestions questionsToSuggest}}
            </div>
            {{/if}}

        </div>

    </div>


</template>