<template name="editor">

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Editor</h5>
            {{#if executing}}
                <i class="fa fa-cog fa-spin" style="float: right; font-size: 2em"></i>
            {{else}}
                <a id="compile-btn" class="btn btn-primary btn-xs" style="float: right">Compile and Run</a>
            {{/if}}
        </div>
        <div class="ibox-content" style="padding: 0px;">
            <!--this refers to attemptId-->
            {{> sharejsAce docid=this onRender=config id="editor"}}
        </div>
    </div>

    <style>
        #editor {
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
            font-size: 16px;
        }
    </style>

</template>
