<template name="suggestedQuestions">

    {{#if this}}
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Current Exercise</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">

                {{#each this}}
                    <button class="start-btn btn btn-primary btn-block">{{title}} {{#if completed}}(Done){{/if}} <i class="fa fa-chevron-right pull-right"></i></button>
                {{/each}}

            </div>
        </div>
    {{/if}}
</template>