<template name="mainLayout">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> navigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            {{> topNavbar }}

            <!-- Main view  -->
            {{> yield}}

            <!-- Footer -->
            <!--{{> footer }}-->

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
    <script id="keyreply-script" src="//keyreply.com/chat/widget.js" data-align="left" data-color="#009688" data-apps="JTdCJTIydGVsZWdyYW0lMjI6JTIyQGNsYXJlbmNlbnB5JTIyLCUyMmVtYWlsJTIyOiUyMnB5Lm5nb2guMjAxNEBzaXMuc211LmVkdS5zZyUyMiU3RA=="></script>

</template>