<template name="submitQuestion">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-6">
                <h1>Add a new question</h1>
                {{> quickForm collection="Questions"
                id="insertQuestionForm"
                type="insert"
                fields="title,content,classname"
                buttonContent="Submit"}}
            </div>

            <div class="col-lg-6">
                <div class="text-center" style="margin-top: 100px">
                    <i class="fa fa-gears" style="font-size: 20em; color:#888888"></i>
                    <h3>In progress: Guided instructions</h3>
                </div>
            </div>



        </div>
    </div>

    <!--Modal-->
    <div class="modal inmodal" id="proceedModal" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <i class="fa fa-check modal-icon"></i>
                    <h4 class="modal-title">Question Created</h4>
                </div>
                <div class="modal-body">
                    <p>
                        You will have to proceed to define your test cases for this question.
                        Note that this question will be marked as inactive until you have done so.
                        You may choose to do so at a later time at <em>My Questions > Inactive</em>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="nowNow-btn" type="button" class="btn btn-white">Not now</button>
                    <button id="proceed-btn" type="button" class="btn btn-primary">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</template>