<template name="editor">

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Editor</h5>
            {{>iboxTools}}
        </div>
        <div class="ibox-content" style="padding: 0px;">
            {{> sharejsAce docid=docid onRender=config id="editor"}}
        </div>
    </div>
    <button id="compile-btn" class="btn btn-primary">Compile and Run</button>

    <style>
        #editor {
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
            font-size: 16px;
        }
    </style>

</template>
