<template name="resultDisplay">

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Compile Results</h5>
            {{>iboxTools}}
        </div>
        <div class="ibox-content">

            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Test</th>
                        <th>Expected Output</th>
                        <th>Your Output</th>
                    </tr>
                    </thead>
                    <tbody style="white-space: pre-wrap">
                    {{#each results}}
                        <tr class={{#if success}} success {{else}} danger {{/if}} >
                            <td>{{description}}</td>
                            <td>{{expected}}</td>
                            <td>{{actual}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</template>