<template name="codepad">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">

                {{> questionCard questionId}}

            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                {{> editor}}
            </div>

            <div class="col-lg-6">
                {{#if compileResult}}
                    {{> resultDisplay compileResult }}
                {{/if}}
                {{#if compileError}}
                    {{> errorDisplay compileError }}
                {{/if}}

                <div class="text-center" style="margin-top: 100px">
                    <i class="fa fa-gears" style="font-size: 20em; color:#888888"></i>
                    <h3>In progress: History, Stats, Collaboration</h3>
                </div>

            </div>

        </div>

    </div>


</template>