<template name="codepad">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-6">

                {{> questionCard questionId}}
                {{> editor}}

            </div>

            <div class="col-lg-6">

                <div class="text-center" style="margin-top: 100px">
                    <i class="fa fa-gears" style="font-size: 20em; color:#888888"></i>
                    <h3>In progress: History, Stats, Collaboration</h3>
                </div>

            </div>
        </div>
    </div>


</template>