<template name="createGroup">

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">

            <!-- Form -->
            <div class="col-lg-6">

            </div>

            <!-- Something else -->
            <div class="col-lg-6">

            </div>


        </div>

        <!-- questionPicker -->
        <div class="row">
            <div class="col-lg-12">
                {{> questionPicker }}
            </div>
        </div>

    </div>

</template>