<template name="readme">

    <style>
        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    </style>
    <div class="wrapper wrapper-content animated fadeInUp">
        <img src="demo/ContentTab.png" alt=""/>
        <img src="demo/HTMLContent.png" alt=""/>
        <img src="demo/ViewSourceCode.png" alt=""/>
        <img src="demo/TestsTab.png" alt=""/>
        <img src="demo/Strings.png" alt=""/>
        <img src="demo/InstantiatingArray.png" alt=""/>
        <img src="demo/Scanner.png" alt=""/>
    </div>

</template>