<template name="submitQuestion">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-t-lg">

                    <div class="row">

                        <div class="col-lg-6">
                            <h1>Add a new question</h1>
                            {{> quickForm collection="Questions"
                            id="insertQuestionForm"
                            type="insert"
                            fields="title,content"
                            buttonContent="Submit"}}
                        </div>

                        <div class="col-lg-6">

                        </div>

                    </div>






                </div>
            </div>
        </div>
    </div>
</template>