<template name="uploadCode">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-6">

                <h1>Upload test classes</h1>

                {{> upload_bootstrap
                    fileTypes='.java'
                    multiple=true
                    formData=formData
                    callbacks=uploadCallback
                }}

            </div>

            <div class="col-lg-6">

            </div>

        </div>
    </div>

</template>