<template name="uploadForm">

    {{> pageHeading title='Page two' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-t-lg">
                    <h1>
                        Upload java files
                    </h1>

                    <form action="#">
                        <input id="fileInput" type="file"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>