<template name="uploadCode">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-6">

                <h1>Upload test classes</h1>

                {{> upload_bootstrap
                    fileTypes='.java'
                    multiple=true
                    formData=formData
                    callbacks=uploadCallback
                }}

            </div>

            <div class="col-lg-6">
                <div class="text-center" style="margin-top: 100px">
                    <i class="fa fa-gears" style="font-size: 20em; color:#888888"></i>
                    <h3>In progress: Editor to write test code</h3>
                </div>
            </div>

        </div>
    </div>

</template>