<template name="uploadCode">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-6">

                <h1>Upload test classes</h1>

                {{> upload_bootstrap
                    fileTypes='.java'
                    multiple=true
                    formData=formData
                    callbacks=uploadCallback
                }}

            </div>

            <div class="col-lg-6">
                <div class="text-center" style="margin-top: 100px">
                    <i class="fa fa-gears" style="font-size: 20em; color:#888888"></i>
                    <h3>In progress: Editor to write test code</h3>
                </div>
            </div>

        </div>
    </div>

    <!--Modal-->
    <div class="modal inmodal" id="proceedModal" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <i class="fa fa-check modal-icon"></i>
                    <h4 class="modal-title">Test Code Submitted</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Awesome. Now you are just left with verifying that it actually works!
                        You will be directed to a codepad to submit your solutions.
                        Note that your questions will not be active until you have successfully solved your own questions.
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="nowNow-btn" type="button" class="btn btn-white">Not now</button>
                    <button id="proceed-btn" type="button" class="btn btn-primary">Proceed</button>
                </div>
            </div>
        </div>
    </div>

</template>