<template name="welcome">
    <div class="wrapper wrapper-content">
    <div class="text-center animated fadeInDown">
        <div>
            <div class="m-b-md">
                <img alt="image" class="img-circle circle-border" src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/128/Coding-Html-icon.png">
            </div>
            <h3>Welcome to Javaly</h3>
        </div>

    </div>

    <div class="text-center animated fadeInDown" style="margin: 0 200px">
        <p>Javaly is a teaching tool for programming, with the mission of making interactive coding in class seamless and fun.</p>
        <p>While students solve questions on the webapp, instructors are able to monitor their progress and solve-statistics in real time, helping them to identify areas where students are weaker at. TAs can also benefit from this platform, as they are better able to give feedback to the students with the Shared Codepad.</p>
        <hr/>
    </div>
    <div style="margin: 0 200px 200px">
        <ul>
            <li>After you log in with your smu email, please change your password! (<strong>do not</strong> reuse passwords from other accounts)</li>
            <li>As part of the Beta, you have been added to a Group called Beta Testers. An Exercise has been assigned to your Group, for your solving pleasure.</li>
            <li>To get started, click <strong>My Assignments</strong> on the sidenav to try some of the sample questions.</li>
            <li>You can click <strong>Dashboard</strong> to get a view of the progress of all the other beta testers (playing the role of students as well)</li>
            <li>Last but not least, do try adding questions of your own! Click <strong>View Questions > Submit Question</strong></li>
            <li>During the beta period, all questions that you have added will be added the the Beta Testers group automatically so the other testers may try them.</li>
            <li>These questions that you have contributed will remain in the question bank when Javaly goes live in the new semester!</li>
            <li>Bug reports and feature requests will be <strong>greatly</strong> appreciated! -Clarence</li>
        </ul>
    </div>
    </div>
</template>