<template name="welcome">
    <div class="wrapper wrapper-content">
        <div class="text-center animated fadeInDown">

            <div class="row">
                <div class="col-md-4 col-md-offset-1" style="margin-bottom: 20px">
                    <div class="widget-head-color-box navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <h2 class="font-bold no-margins">
                                Welcome to Javaly
                            </h2>
                            <small>We are now in Beta!</small>
                        </div>
                        <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/128/Coding-Html-icon.png" class="img-circle circle-border m-b-md" alt="profile">
                    </div>

                    <div class="widget-text-box">
                        <h4>Javaly is a teaching tool for programming, with a mission to help students hone their coding skills through practice.</h4>
                    </div>
                </div>

                <div class="col-md-6" style="text-align: left">
                    <div class="ibox-content">
                        <h3>Students: Get started with coding now!</h3>
                        <div>
                            Go to <strong>Join Groups</strong> and select your IS200 section to join. Once your request is accepted, you will be able to do view <strong>Assignments</strong> and practice questions assigned to you.
                        </div>
                    </div>
                    <br/>
                    <div class="ibox-content">
                        <h3>TAs: Know a tough problem? Submit a question!</h3>
                        <div>
                            One of Javaly's key features is making authoring questions extremely fast and easy. Go to <strong>Question Manager</strong> and click "Submit new Question". From the GUI, you can easily specify test cases for your problem.
                            <br/>
                            As a TA, you can also help your instructor to create exercises for your class. Go to <strong>Manage Groups</strong> and add a new exercise with the questions you just created!
                        </div>
                    </div>
                    <br/>
                    <div class="ibox-content">
                        <h3>Instructors: Start monitoring your students' performance</h3>
                        <div>
                            Go to <strong>Manage Groups</strong> to create a new group. This allows you to monitor your class's progress in their assignments, view their perfomance stats, and even give comments on their code.
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>