<template name="welcome">
    <div class="wrapper wrapper-content">
        <div class="text-center animated fadeInDown">

            <div class="row">
                <div class="col-md-4 col-md-offset-1" style="margin-bottom: 20px">
                    <div class="widget-head-color-box navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <h2 class="font-bold no-margins">
                                Welcome to Javaly
                            </h2>
                            <small>We are now Live!</small>
                        </div>
                        <img src="/javalyicon.jpg" width="70%"
                             class="img-circle circle-border m-b-md">
                    </div>

                    <div class="widget-text-box">
                        <h4>Javaly is a teaching tool for programming, with a mission to help students hone their coding
                            skills through practice.</h4>
                    </div>
                </div>

                <div class="col-md-6" style="text-align: left">
                    <div class="ibox-content">
                        <h3>Students: Join Groups and Get Coding!</h3>

                        <div>
                            Go to <strong>Join Groups</strong> and choose which groups you would like to join (eg. your
                            section). Once your request is accepted, you will be able to do view
                            <strong>Assignments</strong> and work on exercises that are published in your enrolled
                            groups.
                        </div>
                    </div>
                    <br/>

                    <div class="ibox-content">
                        <h3>TAs: Know a tough problem? Submit a question!</h3>

                        <div>
                            One of Javaly's key features is making authoring questions extremely fast and easy. Go to
                            <strong>Manage Questions</strong> and click "Submit new Question". From the GUI, you can
                            easily specify test cases for your problem. For greater control, you may also write your own
                            test classes.
                            <br/>
                            As a TA, you can also help your instructor to create exercises for your class. Go to
                            <strong>Manage Groups</strong> and add a new exercise with the questions you just created!
                        </div>
                    </div>
                    <br/>

                    <div class="ibox-content">
                        <h3>Instructors: Start monitoring your students' performance</h3>

                        <div>
                            Go to <strong>Manage Groups</strong> to create a new group. You may also go to your group
                            <strong>Dashboard</strong> to monitor your students' progress in their assignments, view
                            their perfomance stats, and even give comments on their code.
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>