<template name="exerciseDashboard">

    <div class="row border-bottom white-bg page-heading animated fadeInDown text-center">
        <h2><span class="text-navy">Exercise Dashboard</span></h2>
        <p style="margin-bottom: 0">View summary statistics for an exercise</p>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox-content">
            <style>
                .cell-center {
                    text-align: center !important;
                    vertical-align: middle !important;
                }
                @keyframes bg-pulsate {
                    0%   { background-color: rgba(252, 255, 210, 1); }
                    50% { background-color: rgba(252, 255, 210, 0); }
                    100%   { background-color: rgba(252, 255, 210, 1); }
                }
                .user-active {
                    border-radius: 2px;
                    animation: bg-pulsate 2s infinite;
                }
            </style>

            <h3 class="cell-center"><strong>{{info.groupName}}</strong> > {{info.exerciseDescription}}</h3>
            <div class="row">
                <div class="col-xs-10">
                    <span>Overall Progress:</span>
                    <div class="stat-percent">{{completedPercentage}}% completed</div>
                    <div class="progress progress-striped active">
                        <div style="width: {{completedPercentage}}%" class="progress-bar progress-bar-default"></div>
                        <div style="width: {{attemptedPercentage}}%" class="progress-bar progress-bar-warning"></div>
                    </div>
                </div>
                <div class="col-xs-1" style="padding: 0 2px">
                    <button id="boxplot-btn" class="btn btn-primary btn-sm btn-block m-t-xs" data-toggle="modal" data-target="#boxplot-modal">Box Plot</button>
                </div>
                <div class="col-xs-1" style="padding:0 15px 0 2px">
                    <button class="btn btn-primary btn-sm btn-block m-t-xs" data-toggle="modal" data-target="#nudge-modal">Nudge</button>
                </div>
            </div>


            <table class="table-bordered table table-hover">
                <thead>
                <tr>
                    <td class="cell-center" colspan="10000"><small>Click on questions to toggle sorting/grouping </small><i class="fa fa-hand-o-down"></i></td>
                </tr>
                <tr>
                    <th class="cell-center">Student</th>
                    <th class="cell-center"><a class="sort-completed-btn">Completed</a></th>
                    {{#each headers}}
                        <th class="cell-center"><a class="sort-btn">{{getTitle this}}</a></th>
                    {{/each}}
                </tr>
                </thead>
                <tbody>
                    <!--render here-->
                </tbody>
            </table>

        </div>


    </div>

    <div class="modal inmodal fade" id="codepad-modal" tabindex="-1" role="dialog" aria-hidden="true">
        {{> codeModal }}
    </div>


    <div class="modal inmodal fade" id="boxplot-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 80%">
            <div class="modal-content animated fadeIn">
                <div class="modal-body" style="padding: 20px 0 0 0; background-color: white">
                    <div id="boxplot" class="text-center" style="min-height: 600px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="nudge-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 80%">
            <div class="modal-content animated fadeIn">
                <div class="modal-header" style="padding: 10px">
                    <h2>Nudge your students</h2>
                </div>
                <div class="modal-body" style="min-height: 560px">
                    <div style="border-bottom: 1px solid grey; margin-bottom: 20px; padding: 15px">
                        <strong>Send to bottom </strong>
                        <input style="display: inline; width: 60px" type="number" id="percentile" name="percentile" class="form-control" min="5" max="50" step="5" value="30">
                        <strong class="m-r-lg">percentile</strong>
                        <strong>Send reminder if unsolved</strong>
                        <input style="display: inline; width: 40px; padding-top: 10px" type="checkbox" id="sendToUnsolved" name="sendToUnsolved">
                        <span id="generate-preview-btn" class="btn btn-primary btn-sm pull-right">Generate Preview</span>
                    </div>


                    {{#if loadingJobs}}
                        {{>loading}}
                    {{else}}
                        {{#if nudgeJobs}}
                            <strong style="padding-left: 15px; margin-bottom: 0">Students that will be emailed: </strong>
                            <div class="panel-body m-b-md" style="height: 350px; overflow-y: scroll">
                                <div class="panel-group" id="accordion">

                                    {{#each nudgeJobs}}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#{{removeIllegalChars email}}">{{name}}</a>
                                            </h5>
                                        </div>
                                        <div id="{{removeIllegalChars email}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {{#if unsolved.length}}
                                                    <strong>Unsolved questions</strong>
                                                    <ul>
                                                        {{#each unsolved}}
                                                            <li>{{title}}</li>
                                                        {{/each}}
                                                    </ul>
                                                {{/if}}
                                                {{#if retry.length}}
                                                    <strong>Questions to retry</strong>
                                                    <ul>
                                                        {{#each retry}}
                                                            <li>{{title}}</li>
                                                        {{/each}}
                                                    </ul>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}

                                </div>
                            </div>
                            <div class="text-center">
                                <span id="send-nudge-btn" class="btn btn-primary" data-dismiss="modal" style="width: 200px">Send Emails</span>
                            </div>
                        {{else}}
                            <div class="text-center" style="margin-top: 160px">
                                <i class="fa fa-envelope" style="font-size: 3em"></i>
                                <h4>
                                    <p>No students have been flagged for emailing</p>
                                </h4>
                            </div>

                        {{/if}}
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</template>