<template name="exerciseDashboard">

    <div class="row border-bottom white-bg page-heading animated fadeInDown text-center">
        <h2><span class="text-navy">Exercise Dashboard</span></h2>
        <p style="margin-bottom: 0">View summary statistics for an exercise</p>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox-content">
            <style>
                .cell-center {
                    text-align: center !important;
                    vertical-align: middle !important;
                }
                @keyframes bg-pulsate {
                    0%   { background-color: rgba(252, 255, 210, 1); }
                    50% { background-color: rgba(252, 255, 210, 0); }
                    100%   { background-color: rgba(252, 255, 210, 1); }
                }
                .user-active {
                    border-radius: 2px;
                    animation: bg-pulsate 2s infinite;
                }
            </style>

            <h3 class="cell-center"><strong>{{info.groupName}}</strong> > {{info.exerciseDescription}}</h3>
            <div class="row">
                <div class="col-md-10 col-lg-11">
                    <span>Overall Progress:</span>
                    <div class="stat-percent">{{completedPercentage}}% completed</div>
                    <div class="progress progress-striped active">
                        <div style="width: {{completedPercentage}}%" class="progress-bar progress-bar-default"></div>
                        <div style="width: {{attemptedPercentage}}%" class="progress-bar progress-bar-warning"></div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-1">
                    <button id="boxplot-btn" class="btn btn-primary btn-md pull-right" style="margin-bottom: 20px" data-toggle="modal" data-target="#boxplot-modal">Box Plot</button>
                </div>
            </div>


            <table class="table-bordered table table-hover">
                <thead>
                <tr>
                    <td class="cell-center" colspan="10000"><small>Click on questions to toggle sorting/grouping </small><i class="fa fa-hand-o-down"></i></td>
                </tr>
                <tr>
                    <th class="cell-center">Student</th>
                    <th class="cell-center"><a class="sort-completed-btn">Completed</a></th>
                    {{#each headers}}
                        <th class="cell-center"><a class="sort-btn">{{getTitle this}}</a></th>
                    {{/each}}
                </tr>
                </thead>
                <tbody>
                    <!--render here-->
                </tbody>
            </table>

        </div>


    </div>

    <div class="modal inmodal fade" id="codepad-modal" tabindex="-1" role="dialog" aria-hidden="true">
        {{> codeModal }}
    </div>


    <div class="modal inmodal fade" id="boxplot-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 80%">
            <div class="modal-content animated fadeIn">
                <div class="modal-body" style="padding: 20px 0 0 0; background-color: white">
                    <div id="boxplot" class="text-center" style="min-height: 600px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</template>