<template name="manageTags">

    {{#if Template.subscriptionsReady }}
        <div class="wrapper wrapper-content animated fadeInDown">

            <div class="ibox-content text-center p-md">
                <h2><span class="text-navy">Manage Tags</span></h2>
                <p>Add new tags or edit existing ones</p>
            </div>
            <br>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Click Tags to edit</h5>
                </div>
                <div class="ibox-content profile-content">
                    <a class="add-btn btn btn-primary m-b-xs"><i class="fa fa-plus"></i> Add Tag</a>
                    {{#each tags}}
                        <a class="edit-btn btn btn-success m-b-xs">{{label}}</a>
                    {{/each}}
                </div>
            </div>

        </div>
    {{else}}
        {{> loading }}
    {{/if}}


</template>