<template name="manageQuestions">

    <div class="row border-bottom white-bg page-heading animated fadeInDown text-center">
        <h2><span class="text-navy">Manage Questions</span></h2>
        <p style="margin-bottom: 0">Submit questions and view questions that others have submitted!</p>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        {{#if methodCallReady }}
            {{> questionSearch template="questionListStats" searchParams=searchParams showSubmitButton=true}}
        {{else}}
            {{>loading}}
        {{/if}}

    </div>

</template>