<template name="manageTags">

    <div class="row wrapper wrapper-content border-bottom white-bg page-heading">
        <div class="col-md-12">
            <div class="pull-left m-r-md m-t-sm">
                <i class="fa fa-tags text-navy mid-icon"></i>
            </div>
            <h2>Manage Tags</h2>
            <span>Only Instructors and TAs can view this page</span>
        </div>
    </div>

    {{#if Template.subscriptionsReady }}
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Click Tags to edit</h5>
                </div>
                <div class="ibox-content profile-content">
                    <a class="add-btn btn btn-primary"><i class="fa fa-plus"></i> Add Tag</a>
                    {{#each tags}}
                        <a class="edit-btn btn btn-success">{{label}}</a>
                    {{/each}}
                </div>
            </div>

        </div>
    {{else}}
        {{> loading }}
    {{/if}}


</template>