<template name='manageGroups'>

    <div class="row border-bottom white-bg page-heading animated fadeInDown text-center">
        <h2><span class="text-navy">Manage Groups</span></h2>
        <p style="margin-bottom: 0">Create groups and administer groups you teach in</p>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="border-top-width: medium">
                        {{#if isInRole 'instructor, admin'}}
                        <a href="{{pathFor route='createGroup'}}" class="btn btn-primary" style="position: absolute; top: 30px; right: 30px">
                            <i class="fa fa-plus"></i> Create new Group
                        </a>
                        {{/if}}
                        <h2><i class="fa fa-user"></i> My Groups</h2>
                        <small><i class="fa fa-time"></i>
                            You have {{this.count}} active groups.
                        </small>
                    </div>
                    <div class="ibox-content" style="background-color: #476480">
                        <br>
                        {{#if this.count}}

                            {{#each this}}
                                <div class="ibox float-e-margins" style="box-shadow: 1px 10px 20px 1px rgba(0,0,0,0.50)">
                                    <div class="ibox-title">
                                        <h5>{{name}} &nbsp;&nbsp;&nbsp;&nbsp; <small>Created By: {{getName createdBy}}  &nbsp;&nbsp;&nbsp;&nbsp; Enrolment: {{participants.length}}</small></h5>
                                        {{>iboxTools}}
                                    </div>
                                    <div class="ibox-content">
                                        <!--buttons-->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{{pathFor 'groupView'}}" class="btn btn-outline btn-success btn-block"><i class="fa fa-bar-chart"></i> Go to Dashboard</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="add-exercise-btn btn btn-outline btn-success btn-block"><i class="fa fa-plus"></i> Add Exercise</a>
                                            </div>
                                            {{#if isCreator}}
                                            <div class="col-md-4">
                                                <a href="{{pathFor 'updateGroup'}}" class="btn btn-outline btn-success btn-block"><i class="fa fa-cog"></i> Settings</a>
                                            </div>
                                            {{/if}}

                                        </div>

                                        {{#if exercises}}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Exercises</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each exercises}}
                                                    <tr>
                                                        <td>{{#if description}}{{description}}{{else}}<em>Unnamed</em>{{/if}}</td>
                                                        <td><a href="{{pathFor 'exerciseBuilder' groupId=../_id exerciseId=_id}}" class="pull-right"> Edit <i class="fa fa-pencil"></i></a></td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        {{/if}}

                                        {{#if pendingParticipants}}
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Pending Requests</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each pendingParticipants}}
                                                    <tr>
                                                        <td>{{getName this}}</td>
                                                        <td>
                                                            <a data-groupid="{{../_id}}" class="reject-btn pull-right btn btn-warning btn-xs"> Reject <i class="fa fa-times"></i></a>
                                                            <a style="margin-right: 3px" data-groupid="{{../_id}}" class="accept-btn pull-right btn btn-primary btn-xs"> Accept <i class="fa fa-check"></i></a>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        {{/if}}

                                    </div>
                                </div>
                            {{/each}}

                        {{else}}

                            <div class="text-center" style="margin-top: 20px">
                                <i class="fa fa-users" style="font-size: 5em; color:#e7eaec"></i>
                                <h4 style="color:#e7eaec">You have not created any groups</h4>
                            </div>

                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="text-center" style="margin: 50px 0">
                            <i class="fa fa-gears" style="font-size: 5em; color:#888888"></i>
                            <h3>In progress: Activity Stream</h3>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</template>