<template name="updateGroup">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox" style="position: relative">

            <div class="ibox-content profile-content">

                <h2 class="text-center">Update Group</h2>
                <button style="position: absolute; top: 20px; right: 20px" id="update-btn" class="btn btn-primary">
                    <i class="fa fa-check"></i> Update
                </button>


                {{#autoForm collection="Groups" id="updateGroupForm" type="update" doc=this}}
                    <div class="panel-body">

                        <fieldset class="form-horizontal">
                            <div class="form-group {{#if afFieldIsInvalid name='name'}}has-error{{/if}}">
                                <label class="col-sm-2 control-label" data-toggle="tooltip" data-placement="right"
                                       title="Name of the group">Name:</label>
                                <div class="col-sm-9">
                                    {{> afFieldInput name='name'}}
                                    {{#if afFieldIsInvalid name='name'}}
                                        <span class="help-block">{{{afFieldMessage name='name'}}}</span>
                                    {{/if}}
                                </div>
                            </div>

                            <div class="form-group {{#if afFieldIsInvalid name='groupType'}}has-error{{/if}}">
                                <label class="col-sm-2 control-label" data-toggle="tooltip" data-placement="right"
                                       title="Open: Students can view and join<br>Private: Students may not view unless they are invited<br>Accept Requests: Students may view and request to join group, instructor has to approve request">Group
                                    Type:</label>
                                <div class="col-sm-9">
                                    {{> afFieldInput name='groupType' template='buttonGroup'}}
                                    {{#if afFieldIsInvalid name='groupType'}}
                                        <span class="help-block">{{{afFieldMessage name='groupType'}}}</span>
                                    {{/if}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-toggle="tooltip" data-placement="right"
                                       title="Select your teaching team">Teaching Team:</label>
                                <div class="col-sm-9">
                                    <div class="input-group" style="width: 100%">
                                        <select id="ta-list" multiple data-placeholder="Search...">
                                            {{#each tas}}
                                                <option value={{_id}} selected="{{selected}}">{{profile.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <h5>{{selectedTAs.length}} selected</h5>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-toggle="tooltip" data-placement="right"
                                       title="Select your students">Students:</label>
                                <div class="col-sm-9">
                                    <div class="input-group" style="width: 100%">
                                        <select id="student-list" multiple data-placeholder="Search...">
                                            {{#each students}}
                                                <option value={{_id}} selected="{{selected}}">{{profile.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <h5>{{selectedStudents.length}} selected</h5>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                {{/autoForm}}


            </div>
        </div>
    </div>

</template>