<template name="joinGroups">

    <div class="row wrapper wrapper-content border-bottom white-bg page-heading">
        <div class="col-md-12">
            <div class="pull-left m-r-md m-t-sm">
                <i class="fa fa-users text-navy mid-icon"></i>
            </div>
            <h2>Join Groups</h2>
            <span>Join groups so that you may start receiving assignments and start coding!</span>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">

            <div class="col-md-12">

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

            </div>

        </div>

    </div>

</template>