<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Javaly | We Love Java</strong>
                             </span> <span class="text-muted text-xs block">More <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Features</a></li>
                            <!--<li class="divider"></li>-->
                            <li><a href="#">Bug Report</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        JA+
                    </div>
                </li>
                <li class="{{isActiveRoute regex='questionBank'}}">
                    <a href="{{pathFor route='questionBank'}}"><i class="fa fa-bank"></i> <span class="nav-label">Question Bank</span> </a>
                </li>
                <li class="{{isActiveRoute regex='submitQuestion'}}">
                    <a href="{{pathFor route='submitQuestion'}}"><i class="fa fa-upload"></i> <span class="nav-label">Submit Question</span> </a>
                </li>

                {{#if isInRole 'instructor'}}
                    <li class="{{isActiveRoute regex='manageGroups'}}">
                        <a href="{{pathFor route='manageGroups'}}"><i class="fa fa-users"></i> <span class="nav-label">Manage Groups</span> </a>
                    </li>
                {{else}}
                    <li class="{{isActiveRoute regex='enrolledGroups'}}">
                        <a href="{{pathFor route='enrolledGroups'}}"><i class="fa fa-users"></i> <span class="nav-label">Enrolled Groups</span> </a>
                    </li>
                {{/if}}

            </ul>

        </div>
    </nav>
</template>