<template name="topNavigation">

    <style>
        #navbar{
            background-color: #2f4050;
        }
        .navbar-header {
            background-color: #1ab394;
        }
        .top-navigation .navbar-nav > li > a {
            color: #a7b1c2;
        }
        .top-navigation .navbar-nav > li:hover > a,
        .top-navigation .navbar-nav > li.active > a {
            color: #ffffff;
        }
        .top-navigation .navbar-nav > li.active > a,
        .top-navigation .navbar-nav > li.active:hover > a,
        .top-navigation .navbar-nav > li:hover > a {
            background-color: #293846;
        }
        .top-navigation .navbar-nav > li.active > a {
            border-bottom: 4px solid #19aa8d;
        }
        #login-dropdown-list > a {
            color: #ffffff;
            background-color: #2f4050;
        }
        #login-dropdown-list:hover > a {
            background-color: #293846;
        }
        .navbar-header {
            border-bottom: 4px solid #1ab394;
        }

    </style>

    <div class="row border-bottom white-bg">
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="#" class="navbar-brand">Javaly</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="{{isActiveRoute regex='welcome'}}">
                        <a href="{{pathFor route='welcome'}}"><i class="fa fa-info-circle"></i> <span class="nav-label">Welcome</span> </a>
                    </li>
                    {{#if isInRole 'instructor, admin, ta'}}
                        <li class="{{isActiveRoute regex='manageQuestions|submitQuestion|updateQuestion|readme|manageTags'}}">
                            <a href="{{pathFor route='manageQuestions'}}"><i class="fa fa-book"></i> <span class="nav-label">Manage Questions</span> </a>
                        </li>
                    {{/if}}
                    {{#if isInRole 'instructor, admin, ta'}}
                        <li class="{{isActiveRoute regex='manageGroups|updateGroup|exerciseBuilder|groupView|exerciseDashboard'}}">
                            <a href="{{pathFor route='manageGroups'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">Manage Groups</span> </a>
                        </li>
                    {{/if}}
                    {{#if isInRole 'student'}}
                        <li class="{{isActiveRoute regex='joinGroups'}}">
                            <a href="{{pathFor route='joinGroups'}}"><i class="fa fa-users"></i> <span class="nav-label">Join Groups</span> </a>
                        </li>

                        <li class="{{isActiveRoute regex='assignments|codepad'}}">
                            <a href="{{pathFor route='assignments'}}"><i class="fa fa-inbox"></i> <span class="nav-label">My Assignments</span> </a>
                        </li>
                    {{/if}}

                    <!--<li class="dropdown">-->
                        <!--<a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>-->
                        <!--<ul role="menu" class="dropdown-menu">-->
                            <!--<li><a href="">Menu item</a></li>-->
                            <!--<li><a href="">Menu item</a></li>-->
                            <!--<li><a href="">Menu item</a></li>-->
                            <!--<li><a href="">Menu item</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </nav>
    </div>
</template>